<footer>
    <div class="sydneyFooterTop" >
    </div>
    <div class="home-footer-container">
        <div class="home-footer-container-buy">
            <div class="footer-home-left">
                {{footerHeadingBuy}}
            </div>
            <div class="footer-home-right">
                <div class="bold">
                    {{footerBuyNsw}}
                </div>
                {{footerBuyNswRegions}}
            </div>
        </div>
    </div>
    {{footerBreadcrumbs}}
    {{copyright}}
</footer>
